.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid grey;
  text-align: center;
}

td {
  border: 1px solid grey;
  padding: 2px 5px;
 }

.column2 {
  width: 450px;
}

.column1 {
   text-align: center;
}

span {
  color: gray;

}